/* mobile first method */
@import url("https://fonts.cdnfonts.com/css/oxanium");

*   {
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}
main    {
    text-align:center;
    width:100%;
    background-color:aqua;
}
.pokedex-title  {
    background-color:greenyellow;
    height:100%;
    width:100%;
    padding:15px;
    margin-top:0;
    letter-spacing: 0.2em;
    text-transform:capitalize;
    font-size:1.2em;
    text-align:center;
    border-bottom:1px solid black;
    color:white;
}
.pokemon-color  {
    color:rgb(255, 255, 0);
    text-shadow: rgb(1, 92, 183) 7px 2px 3px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.pokedex-display    {
    display:inline-block;
    height:100vh;
    width:fit-content;
    text-align:center;
    position:relative;
    
   
}
.pokedex-img    {
    max-width:600px;
    height:80%;
    width:100%;
    
}
/*This gonna take a lot of tweaking */
.pokemon-img    {
    display:block;
    position:absolute;
    bottom:65%;
    left:50%;
    max-width:220px;
    height:15%;
    transform:translate(-55%, 20%);
    /*Decrease it in the desktop css*/
}
.pokemon-info   {
    text-transform:capitalize;
    font-size: clamp(22px , 10vw, 18px); /* A function to set a minimum, a desired and a maximum font size */
    color:#898787;
    text-align:center;
    font-weight:800;
    position:absolute;
    top:43%;
    right:30%;
    
    
}
.pokemon-name   {
    display:inline;
}
.pokemon-number {
    display:inline;
    font-size:1.2em;
}
#searchBar  {
    position:absolute;
    top:53%;
    right:23%;
    border-radius:5px;
}
.pokedex-confirm   {
    position:absolute;
    background-color:#ededed;
    top:60%;
    right:20%;
    width:40%;
    border-radius:8px;
    border:black solid 2px;
    box-shadow: 0 9px #2f0d0b;
}
.pokedex-confirm:hover   {
    font-weight:900;
}

.pokedex-confirm:active    {
    box-shadow: 0 5px #665;
    background-color:#898787;
    transform:translateY(3px);
}

.pokedex-prev   {
    position:absolute;
    background-color:#ededed;
    border-radius:8px;
    border:black solid 2px;
    top:66%;
    box-shadow: 0 9px #2f0d0b;
    width:30%;
    left:9%;
}
.pokedex-prev:hover {
    font-weight:900;
}

.pokedex-prev:active    {
    box-shadow: 0 5px #665;
    background-color:#898787;
    transform:translateY(3px);
}

.pokedex-next   {
    position:absolute;
    background-color:#ededed;
    border-radius:8px;
    border:black solid 2px;
    top:60%;
    box-shadow: 0 9px #2f0d0b;
    width:30%;
    left:9%;
}
.pokedex-next:hover {
    font-weight:900;
}

.pokedex-next:active    {
    box-shadow: 0 5px #665;
    background-color:#898787;
    transform:translateY(3px);
}

.pokedex-info   {
    position:absolute;
    background-color:#ededed;
    border-radius:8px;
    border:black solid 2px;
    width:40%;
    top:66%;
    box-shadow: 0 9px #2f0d0b;
    left:40%;
}
.pokedex-info:hover   {
    font-weight:900;
}
.pokedex-info:active    {
    box-shadow: 0 5px #665;
    background-color:#898787;
    transform:translateY(3px);
}